* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightblue;
    color: white;
    font-family: "Poppins", sans-serif;
}

*:focus {
    outline: none;
}

input[type="search"] {
    width: 530px !important;
}

input[type="text"] {
    font-size: 25px !important;
}

.bg {
    animation: slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, #6c3 50%, #09f 50%);
    bottom: 0;
    left: -50%;
    opacity: 0.5;
    position: fixed;
    right: -50%;
    top: 0;
    z-index: -1;
}

.bg2 {
    animation-direction: alternate-reverse;
    animation-duration: 4s;
}

.bg3 {
    animation-duration: 5s;
}

@keyframes slide {
    0% {
        transform: translateX(-25%);
    }
    100% {
        transform: translateX(25%);
    }
}

h1 {
    font-size: 70px;
}

header,
form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1px 1px 1px;
}

input [type="text"] {
    font-size: 10px !important;
}

form input,
form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    height: 58px !important;
    background: white;
}

form button {
    color: #7fff00;
    background: #f7fffe;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button:hover {
    background: #7fff00;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.5rem;
    background: white;
    font-size: 1.3rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
}

.filter-todo {
    padding: 1rem;
}

.todo li {
    flex: 1;
}

.trash-btn,
.complete-btn {
    background: #ff4500;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
}

.complete-btn {
    background: rgb(11, 212, 162);
}

.todo-item {
    padding: 0rem 0.6rem;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.fall {
    transform: translateY(10rem);
    opacity: 0;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}

textarea:focus,
input:focus,
button:focus {
    outline: none;
}


/*CUSTOM SELECTOR */

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
}


/* Custom Select */

.select {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

select {
    color: #1e90ff;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    width: 14rem;
    height: 3.3rem;
    outline: none;
    font-size: 18px;
}


/* Arrow */

.select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    padding: 1rem;
    background: #7fff00;
    cursor: pointer;
    pointer-events: none;
}


/* Transition */


/*
.select:hover::after {
  transform: scale(1.5);
}
*/